* {
  box-sizing: border-box;
}

.chat-main{
  background-color: #fafafa;
  width: calc(100vw - 300px);
  height: 100vh;
  &__group-info{
    height: 100px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    &__left-content{
      &__group-name{
        padding: 35px 0 15px;
        color: $gray;
        font-size: 20px;
      }
      &__member-name{
        color: $lightgray;
        font-size: 12px;
      }
    }
    &__right-content{
      height: 44px;
      line-height: 44px;
      padding: 0 20px;
      margin: 28px 0;
      border: solid 1px $skyblue;
    }
    &__right-content a{
      font-size: 16px;
      color: $skyblue;
      padding: 12px 0;
      text-decoration: none;
    }
  }
  &__message-list{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafafa;
    padding:35px 0 0 40px;
    overflow: scroll;
    &__message-box{
      padding-bottom:46px;
      &__name-data{
        margin-bottom: 12px;
      }
      &__name-data p1{
        color: $gray;
        font-size: 16px;
      }
      &__name-data p2{
        color: $lightgray;
        font-size: 12px;
        vertical-align: top;
      }
      &__message-data{
      }
      &__message-data p1{
        color: #434A54;
        font-size: 14px;
      }
    }
  }
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    &__message-box{
      width: 100%;
      position: relative;
      display: flex;
      &__text{
        height: 50px;
        padding: 0 40px 0 10px;
        width: 100%;
        color: #434a54;
        border-style: none;
       }
      &__icon{
        position: absolute;
        right: 10px;
        top:17px;
        &__file{
        display: none;
       }
     }
     &__message-send{
        height: 50px;
        line-height: 50px;
        margin-left: 25px;
        border: solid 1px $skyblue;
        background-color:  $skyblue;
        padding: 0 20px;
        color: $white;
        font-size: 16px;
      }
    }
  }
}